body {
    margin: 0; 
    padding: 0;
    font-family: Arial;  
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
    font-size: larger;
}

/* Header Styles */
header {
    background: #491b1b; 
    padding: 16px 0; 
}

header nav {
    flex-wrap: wrap;
    display: flex; 
    justify-content: center;
}

header nav a {
    padding: 8px;
    margin: 0 16px; 
    text-decoration: none; 
    color: white; 
}

header nav a:hover {
    background: #805252; 
}

#hamburger-toggle {
    display: none;
}

.hamburger-icon {
    font-size: 25px;
    display: none;
    color: white;
    cursor: pointer;
    padding: 11px;
}

/* Footer Styles */
footer {
    color: white; 
    padding: 16px;
    background: #491b1b; 
    text-align: center; 
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.footer-links {
    gap: 16px;
    display: flex;
}

.footer-links a {
    margin: 0 8px;
    display: inline-block;
}

.footer-links img {
    transition: transform 0.3s;
    width: 32px;
    height: 32px;
}

.footer-links img:hover {
    transform: scale(1.5);
}

/* Index Page Styles */

.profile-image {
    height: auto;
    max-width: 150px; 
    border-radius: 40%; 
}

.container {
    max-width: 1200px; 
    margin: auto;
    flex: 1; 
    padding: 32px; 
}

.intro {
    align-items: center; 
    gap: 16px;
    display: flex; 
}

.intro-paragraph {
    flex: 1; 
}

/* Profile Image Style */

.profile-image {
    height: auto;
    border-radius: 20%; 
    max-width: 300px; 
}

/* Skills Styles */

.skills-interests {
    justify-content: space-between;
    display: flex;
}

.skills, .interests {
    width: 45%;
}

.skills ul, .interests ul {
    list-style-type: none;
    padding: 0;
}

.skills li, .interests li {
    background: #faf1f1;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 8px;
}

/* Social Media Styles */

.social-media {
    margin-top: 32px;
}

.social-media h2 {
    margin-bottom: 16px;
}

.social-media a {
    display: inline-block;
    margin: 0 8px;
}

.social-media img {
    transition: transform 0.3s;
    width: 32px;
    height: 32px;
}

.social-media img:hover {
    transform: scale(1.5);
}

/* Project Page Styles */

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 32px;
    gap: 16px;
}

.project-items {
    background: whitesmoke;
    border-radius: 8px;
    box-shadow: rgba(1, 1, 8, 0.25) 0px 27px 13px -5px, rgba(5, 0, 0, 0.3) 8px 0px 16px -8px;
    text-align: center;
    padding: 16px;
}

.projectImage {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    margin-bottom: 16px;
}

.project-items h3 {
    margin: 16px 0 8px;
}

/* Contact Page Styles */

.contact-information {
    display: flex;
    gap: 32px;
    justify-content: space-between;
}

.my-contact .contact-form { 
    box-sizing: border-box;
    flex-grow: 1;
}

.my-contact {
    border-radius: 8px;
    background: whitesmoke;
    padding: 16px;
    box-shadow: rgba(1, 1, 8, 0.25) 0px 27px 13px -5px, rgba(5, 0, 0, 0.3) 8px 0px 16px -8px;
    max-width: 70%;
}

.my-contact img {
    border-radius: 8px;
    max-width: 100%;
    margin-bottom: 16px;
}

.contact-form {
    background-color: #7a3f3f; 
    border-radius: 8px;
    box-shadow: rgba(1, 1, 8, 0.25) 0px 27px 13px -5px, rgba(5, 0, 0, 0.3) 8px 0px 16px -8px;
    padding: 16px;
}

.contact-form form {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-form label {
    color: white;
    margin-bottom: 8px;
}

.contact-form input, .contact-form textarea {
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 8px;
}

.contact-form button {
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px;
    transition: background 0.3s, transform 0.2s, box-shadow 0.2s;
    font-weight: bolder;
    border: none;
}

.contact-form button:hover {
    transform: translateY(-2.5px);
    background-color: rgb(196, 187, 171);
}

.contact-form button:active {
    transform: translateY(0);
}

/* Video Demo Page Styles */
.video-demo {
    margin-top: 32px;
    display: flex;
}

.video-demo iframe {
    box-shadow: rgba(1, 1, 8, 0.25) 0px 27px 13px -5px, rgba(5, 0, 0, 0.3) 8px 0px 16px -8px;
    border-radius: 8px;
}

/* Report Page Styles */
.report p {
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 16px; 
}

.report p a:hover {
    cursor: pointer;
    color: #1c6cc2;
}

.validation {
    margin-top: 32px;
}

.references a:hover {
    color: #1c6cc2;
    cursor: pointer;
}

.validation img {
    height: 1100px; 
    max-width: 1200px;
}

@media screen and (max-width: 600px) {
    header {
        padding: 0;
    }

    .hamburger-icon {
        text-align: left;
        display: block;
        padding: 16px;
    }

    header nav {
        background: #491b1b;
        flex-direction: column;
        display: none;
        width: 100%;
    }

    header nav a {
        margin: 0;
        box-sizing: border-box;
        text-align: center;
        padding: 10px;
        width: 100%;
    }

    #hamburger-toggle:checked ~ nav {
        display: flex;
    }

    .intro {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .intro-paragraph {
        margin-top: 16px;
    }

    .skills-interests {
        align-items: center;
        flex-direction: column;
    }

    .skills, .interests {
        width: 90%;
        margin-bottom: 16px;
    }

    footer {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }  

    .footer-links a{
        margin: 8px 0;
    }

    .contact-information {
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .my-contact, .contact-form {
        width: 90%;
        max-width: 100%;
    }

    .contact-form form{
        width: 100%;
    }

    .video-demo {
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .video-demo iframe {
        height: 315px;
        width: 100%;
    }

    .container {
        padding: 16px;
    }

    h1, h2, h3 {
        text-align: center;
    }

    .report p {
        font-size: 16px;
    }

    .validation img {
        height: 300px;
        max-width: 100%;
        object-fit: contain;
    }
}